* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #000000;
  --secondry: #ffc554;
  --purple: #0b1727;
  --para: #7d8a9a;
}

.para {
  color: var(--para);
}

.primary-clr {
  background-color: var(--primary);
}

.mono {
  font-family: monospace;
}

.hero {
  height: 100%;
}

.container-fluid {
  margin: 0 !important;
}

.grocery {
  background-color: var(--purple);
  color: white;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .nav-link {
    padding: 2px !important;
  }
}

.rotate {
  animation: rotates infinite 2s linear;
  -webkit-animation: rotates infinite 2s linear;
}

.full-h {
  height: 100%;
  display: flex;
  flex-direction: column;
}



















/* @keyframes rotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
