* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #000000;
  --secondry: #ffc554;
  --purple: #0b1727;
}

.primary-clr {
  background-color: var(--primary);
}

.mono {
  font-family: monospace;
}

.hero {
  height: 100%;
}

.container-fluid {
  margin: 0 !important;
}

.grocery {
  background-color: var(--purple);
  color: white;
}

@media (max-width: 375px) {
  .nav-link {
    padding: 2px !important;
  }
}
